.logo {
  height:50px;
  width:50px;
  margin-right: 1.5rem !important;
}

.media {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.table tr td {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0.3rem;
}
